.transfer-type-selector {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Space between buttons */
    margin: 1rem 0;
}

.transfer-type-selector label {
    position: relative;
}

.transfer-type-selector input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.transfer-type-selector input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #006193;
    background-color: #dee7ff;
    color: #006193;
}

.transfer-type-selector span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.5em 1.25em; /* Medium size */
    font-size: 1rem;
    border-radius: 0.375em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    color: #3e4963;
    text-align: center;
    transition: all 0.3s ease;
}

.transfer-type-selector span:hover {
    background-color: #f0f4ff;
    box-shadow: 0 0 0 0.1em #b5c9fc;
}
