/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.transfer-page {
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Move the box vertically to the middle */
    left: 50%; /* Move the box horizontally to the middle */
    transform: translate(-50%, -50%); /* Offset the box by half of its size to ensure it's perfectly centered */
    max-width: 800px;
    width: 100%; /* Ensure the width is responsive */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
}

/* Specific Inputs Styles */
.specific-inputs {
    margin-bottom: 20px;
}
.specific-inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Transfer Button Styles */
.transfer-page button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    color: #ffffff;
    background-color: #006193;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.transfer-page button:hover {
    background-color: #034464;
}

/* Confirmation Popup Styles */
.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #c3e6cb;
}
.success-message button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #155724;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.success-message button:hover {
    background-color: #0b3d20;
}

:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
